html {
  font-size: 10px;
}

body {
  @extend %font-primary;
  @include font(1.6rem, 1.62);
  color: $color-text;
}

h1 {
  @extend %font-additional;
  @include font(4.4rem, 1.23, 700);
  color: $color-title;
}

h2 {
  @include font(3.4rem, 1.35, 700);
  color: $color-title;
}

h3 {
  @include font(2.4rem, 1.42, 700);
  color: $color-title;
}

h4 {
  @include font(2.2rem, 1.36, 600);
  color: $color-title;
}

h5 {
  @include font(1.6rem, 1.62, 700);
  color: $color-text;
}
