@mixin font($size: 1.6rem, $height: 1.62, $weight: 400, $style: normal) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  font-style: $style;
}

@mixin columns($width) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  > * {
    flex-basis: $width;
  };
}

@mixin media-laptop {
  @media (max-width: $width-content) { @content; }
}

@mixin media-tablet {
  @media (max-width: $width-tablet) { @content; }
}

@mixin media-mobile-big {
  @media (max-width: $width-mobile-big) { @content; }
}

@mixin media-mobile-small {
  @media (max-width: $width-mobile-small) { @content; }
}