$color-primary: #FF9900;
$color-additional: #FF7549;
$color-title: #2F281E;
$color-text: #544837;
$color-navigation-links: #2F281E;
$color-links: #1943EF;
$color-background: #E5E5E5;
$color-background-additional: #FFEEE1;
$color-tag: #F5F5F5;
$color-border-tag: #D7D7D7;
$color-border-button: #BCD0E5;
$color-placeholder: #C6C6C6;
$color-white: #FFFFFF;
$color-violet: #7752BE;
$color-yellow: #FAB005;
$color-red: #F03E3D;
$color-light-blue: #4DADF7;
$color-hamburger: #173A56;

$width-content: 1197px;
$width-tablet: 769px;
$width-mobile-big: 415px;
$width-mobile-small: 377px;