$color-primary: #FF9900;
$color-additional: #FF7549;
$color-title: #2F281E;
$color-text: #544837;
$color-navigation-links: #2F281E;
$color-links: #1943EF;
$color-background: #E5E5E5;
$color-background-additional: #FFEEE1;
$color-tag: #F5F5F5;
$color-border-tag: #644e4e;
$color-border-button: #BCD0E5;
$color-white: #FFFFFF;
$color-violet: #7752BE;
$color-yellow: #FAB005;
$color-red: #F03E3D;
$color-light-blue: #4DADF7;

$width-content: 1197px;
$width-tablet: 768px;
$width-mobile-big: 414px;
$width-mobile-small: 320px;