.button {
  padding: 11px 25px 13px;
  @extend %font-primary;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.375;
  text-align: center;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease, border 0.3s ease;
}
.button_bordered {
  background-color: rgba($color: $color-white, $alpha: 0);
  border: 1px solid $color-border-button;
  border-radius: 4px;
  color: #173a56;
  &:hover {
    background: $color-border-button;
  }
}
.button_colored {
  background-color: $color-primary;
  border: 1px solid $color-primary;
  border-radius: 4px;
  color: $color-white;
  &:hover {
    background: $color-additional;
    border: 1px solid $color-additional;
  }
}
.button_wide {
  padding: 15px 39px 16px;
}

.link-button {
  @extend %font-additional;
  @include font ($height: 1.5, $weight: 600);
  text-decoration: none;
  color: $color-primary;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  height: 53px;
  transition: color .3s ease;
  &:hover {
    color: $color-additional;
  }
}

.link-button__text {
  text-decoration: underline;
}

.link-button__icon {
  margin: 0 9px 0 0;
}