.contacts {

}
.contacts__item {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 19px;
  }
  a {
    text-decoration: none;
    @include font($size: 2.5rem, $height: 1);
    color: $color-text;
    margin-left: 11px;
  }
  @include media-tablet {
    justify-content: center;
  }
}
.contacts-phone {
}
.contacts-email {
}
