.strategy {
}
.strategy-wrapper {
  > * {
    margin-bottom: 30px;
  }
}
.strategy__image {
}
.stategy__content {
  padding: 24px 33px 26px;
}
.stategy__title {
  margin: 0 0 29px;
}
.strategy__tags {
  & > *:not(:last-child) {
    margin-right: 4px;
  }
}