.header {
  background-color: $color-white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  padding: 15px 0 17px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media-tablet {
    padding-left: 24px;
  }
}
.header__navigation {
  @include media-tablet {
    display: none;
  }
}
.header__buttons {
  & > * {
    padding: 11px 25px 13px;
    width: auto;
  }
  & > :not(:last-child) {
    margin-right: 14px;
  }
  @include media-mobile-big {
    display: none;
  }
}
.header__logo-line {
  display: flex;
  align-items: center;
  column-gap: 37px;
  @include media-mobile-big {
    column-gap: 61px;
  }
}
.header__logo {
  @include media-mobile-big {
    img {
      width: 129px;
    }
  }
}