.button, body {
  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
}

.footer-navigation__link, .link-button, h1 {
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
}

/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 1.62;
  font-weight: 400;
  font-style: normal;
  color: #544837;
}

h1 {
  font-size: 4.4rem;
  line-height: 1.23;
  font-weight: 700;
  font-style: normal;
  color: #2F281E;
}

h2 {
  font-size: 3.4rem;
  line-height: 1.35;
  font-weight: 700;
  font-style: normal;
  color: #2F281E;
}

h3 {
  font-size: 2.4rem;
  line-height: 1.42;
  font-weight: 700;
  font-style: normal;
  color: #2F281E;
}

h4 {
  font-size: 2.2rem;
  line-height: 1.36;
  font-weight: 600;
  font-style: normal;
  color: #2F281E;
}

h5 {
  font-size: 1.6rem;
  line-height: 1.62;
  font-weight: 700;
  font-style: normal;
  color: #544837;
}

.block-shadowed {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.wrapper {
  max-width: 1197px;
  margin: auto;
}

.icon {
  cursor: pointer;
  display: inline-block;
}

.icon_play {
  width: 18px;
  height: 19px;
  background-image: url("./img/icons/icon_play.svg");
}

.icon_phone {
  width: 7px;
  height: 11px;
  background-image: url("./img/icons/icon_phone.svg");
}

.icon_mail {
  width: 11px;
  height: 8px;
  background-image: url("./img/icons/icon_mail.svg");
}

.icon_arrow {
  width: 12px;
  height: 17px;
  background-image: url("./img/icons/icon_click.svg");
}

.icon_survey {
  width: 18px;
  height: 14px;
  background-image: url("./img/icons/icon_surveys.svg");
}

.icon_preference {
  width: 19px;
  height: 18px;
  background-image: url("./img/icons/icon_preference-tests.svg");
}

.icon_time {
  width: 15px;
  height: 17px;
  background-image: url("./img/icons/icon_time-tests.svg");
}

.icon-square {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 19px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-square_violet {
  background-color: #7752BE;
}

.icon-square_yellow {
  background-color: #FAB005;
}

.icon-square_red {
  background-color: #F03E3D;
}

.icon-square_light-blue {
  background-color: #4DADF7;
}

.icon-round {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: #FFFFFF;
}

.button {
  padding: 11px 25px 13px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.375;
  text-align: center;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease, border 0.3s ease;
}

.button_bordered {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  color: #173a56;
}
.button_bordered:hover {
  background: #BCD0E5;
}

.button_colored {
  background-color: #FF9900;
  border: 1px solid #FF9900;
  border-radius: 4px;
  color: #FFFFFF;
}
.button_colored:hover {
  background: #FF7549;
  border: 1px solid #FF7549;
}

.button_wide {
  padding: 15px 39px 16px;
}

.link-button {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  color: #FF9900;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  height: 53px;
  transition: color 0.3s ease;
}
.link-button:hover {
  color: #FF7549;
}

.link-button__text {
  text-decoration: underline;
}

.link-button__icon {
  margin: 0 9px 0 0;
}

.logo {
  display: flex;
  align-items: center;
}

.tool__title {
  margin: 30px 0 16px;
}

.tool__description {
  margin: 0;
}

.tag {
  font-size: 1.3rem;
  line-height: 2.15;
  font-weight: 400;
  font-style: normal;
  padding: 7px 14px 8px;
  border-radius: 90px;
}

.tag_selected {
  background: #FF9900;
  border: 1px solid #FF9900;
  color: #FFFFFF;
}

.tag_bordered {
  background: #FFFFFF;
  border: 1px solid #D7D7D7;
  cursor: pointer;
  transition: background 0.3s ease;
}
.tag_bordered:hover {
  background: #D7D7D7;
}

.tag_colored {
  background: #F5F5F5;
}

.strategy-wrapper > * {
  margin-bottom: 30px;
}

.stategy__content {
  padding: 24px 33px 26px;
}

.stategy__title {
  margin: 0 0 29px;
}

.strategy__tags > *:not(:last-child) {
  margin-right: 4px;
}

.employee {
  position: relative;
  display: flex;
  align-items: center;
}
.employee * > {
  align-self: stretch;
}

.employee__wrapper {
  padding-right: 32px;
}

.employee__content {
  max-width: 222px;
  padding: 35px 0 35px 35px;
}
.employee__content > * {
  margin: 0;
}

.employee__role {
  font-size: 1.4rem;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
}

.employee__email {
  font-size: 1.4rem;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #1943EF;
}
.employee__email:hover {
  text-decoration: underline;
}

.employee__image {
  position: absolute;
  height: 98px;
  left: calc(100% - 66px);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
}

.contacts__item {
  display: flex;
  align-items: center;
}
.contacts__item:not(:last-child) {
  margin-bottom: 19px;
}
.contacts__item a {
  text-decoration: none;
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  color: #544837;
  margin-left: 11px;
}

.layout-4-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-4-column > * {
  flex-basis: 21%;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-3-column > * {
  flex-basis: 30%;
}

.layout-2-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-2-column > * {
  flex-basis: 48%;
}

.header {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  padding: 15px 0 17px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  font-size: 1.5rem;
  line-height: 1.87;
}

.navigation__item {
  list-style: none;
  cursor: pointer;
}
.navigation__item:not(:last-child) {
  padding-right: 20px;
}
.navigation__item a {
  text-decoration: none;
  color: #2F281E;
  transition: color 0.3s ease;
}
.navigation__item a:hover {
  color: #FF9900;
}

.header__buttons > :not(:last-child) {
  margin-right: 14px;
}

.promo {
  padding: 30px 0 111px;
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo__content {
  padding-right: 65px;
}

.promo__title {
  margin: 0 0 30px;
}

.promo__description {
  margin: 0 0 58px;
  font-family: "Poppins";
  font-size: 1.8rem;
  line-height: 1.56;
  color: #544837;
}

.promo__buttons > :not(:last-child) {
  margin-right: 44px;
}

.tools {
  display: flex;
  justify-content: center;
}

.tools__wrapper {
  padding: 0 0 90px;
  background-image: url("./img/backgrounds/tools-bg.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

.tools__items {
  margin-bottom: 60px;
}

.tools__title {
  max-width: 462px;
  text-align: center;
  margin: 0 auto 70px;
}

.tools__button {
  text-align: center;
}

.strategies {
  padding: 30px 0 66px;
}

.strategies__title {
  margin: 0 0 14px;
}

.strategies__description {
  margin: 0 0 24px;
}

.strategies__tags {
  margin: 0 0 31px;
}
.strategies__tags > *:not(:last-child) {
  margin-right: 7px;
}

.about {
  padding: 0 0 101px;
}

.about__title {
  margin: 0 0 14px;
}

.about__description {
  margin: 0 0 45px;
}

.contact {
  background-color: #FFEEE1;
  padding: 62px 0 92px;
}

.contact__title {
  margin: 0 0 17px;
}

.contact__content {
  max-width: 527px;
}

.contact__description {
  margin: 0 0 33px;
}

.contact__form input {
  width: 280px;
}
.contact__form form > :not(:last-child) {
  margin-bottom: 19px;
}
.contact__form input, .contact__form textarea {
  background-color: #FFFFFF;
  padding: 10px 21px;
  border: none;
  border-radius: 5px;
}
.contact__form input:focus, .contact__form textarea:focus {
  outline: 1px solid #FF9900;
}
.contact__form textarea {
  resize: none;
  width: 100%;
  height: 160px;
}

.footer {
  padding: 56px 0px 52px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  align-items: flex-start;
  margin-right: 151px;
}

.footer-navigation {
  flex-grow: 1;
}

.footer__titles {
  margin: 0 0 15px;
}

.footer-navigation__links {
  padding: 0;
}
.footer-navigation__links li {
  list-style: none;
}

.footer-navigation__link {
  font-size: 1.6rem;
  line-height: 2.19;
  font-weight: 400;
  font-style: normal;
  color: #544837;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer-navigation__link:hover {
  color: #FF9900;
}

/*# sourceMappingURL=style.css.map */
